<?xml version="1.0" encoding="UTF-8"?>
<auth-config>
  <auth-modules>
    <auth-module type="Default">
      <property key="usersCanChangeOwnPasswords">true</property>
      <property key="freeRegistrationAllowed">true</property>
    </auth-module>
    <auth-module type="HTTP-Basic" />
    <auth-module type="HTTP-OAUTH.v2">
      <property key="allowCreatingNewUsersByLogin">true</property>
      <property key="tokenEndpoint">https://github.com/login/oauth/access_token</property>
      <property key="userEndpoint">https://api.github.com/user</property>
      <property key="clientId">{{ CLIENT_ID }}</property>
      <property key="scope">user</property>
      <property key="authorizeEndpoint">https://github.com/login/oauth/authorize</property>
      <property key="clientSecret">{{ CLIENT_SECRET }}</property>
      <property key="allowMatchingUsersByEmail">false</property>
    </auth-module>
  </auth-modules>
  <login-description />
  <guest-login allowed="false" guest-username="guest" />
</auth-config>

